/* .App {
	padding: 20px;
	justify-content: center;
} */

/*.App {
    display: grid;
	height: 100vh;
	width: 100vw;
	grid-template-areas: 
	"a1" "a2" "a3" "a4" "a5" "a6"
	"b1" "b2" "b3" "b4" "b5" "b6"
	"c1" "c2" "c3" "c4" "c5" "c6"
	"d1" "d2" "d3" "d4" "d5" "d6"
	"e1" "e2" "e3" "e4" "e5" "e6";
	grid-template-columns: repeat(6, .25fr);
	grid-template-rows: repeat(5, .25fr);
}

.title {
	grid-area: a5;
}*/

/* .article-card {
	height: 65vh;
	width: 90vw;
	background-color: #62929a;
} */

/*.search {
	width: 50%;
	text-align: center;
  
	position: relative;
	display: block;
	margin: auto;
	padding: 2rem;
}

.search-bar {
	text-align: center;
	width: 70%;
	border: 3px solid #363434;
	padding: 5px;
	height: 2rem;
	border-radius: 30px;
	outline: none;
	font-size: 1.5rem;
}*/

/*
.dark-mode{
}

.light-mode {
}
*/

/*.stocks-market {
    height: 30vh;
}

.crypto-page {
    height: 30vh;
}*/

/* 
Crypto light color palette :.first-color { 
	background: #f9f5f0; 
}
	
.second-color { 
	background: #f2ead3; 
}

.third-color { 
	background: #f4991a; 
}

.fourth-color { 
	background: #321313; 
} 
*/

/*
Crypto dark mode: 
.first-color { 
	background: #222831; 
}
	
.second-color { 
	background: #393e46; 
}

.third-color { 
	background: #d65a31; 
}

.fourth-color { 
	background: #eeeeee; 
}
*/

/*
 Markets light mode :
.first-color { 
	background: #fafafa; 
}
	
.second-color { 
	background: #e1eeff; 
}

.third-color { 
	background: #c2cfd8; 
}

.fourth-color { 
	background: #543a3a; 
}
*/

/*
Market dark mode:
.first-color { 
	background: #363434; 
}
	
.second-color { 
	background: #5c5757; 
}

.third-color { 
	background: #62929a; 
}

.fourth-color { 
	background: #efecec; 
}
*/

/* ----------------  -------------  ---------------- */

body {
	background-color: #1a1a1a;
	color: #fff;
}

.header {
	padding: 1rem;
	background: #5c5757;
	text-align: center;
}

.main_page {
	padding: 2rem;
}

.article-card {
	border: 1px solid #444;
	padding:  1rem;
	margin-bottom: 1rem;
	background-color: #363434;
}

.stocks_markets {
	background-color: #444;
	color: #fff;
	padding: 0.5rem 1rem;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}